<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="description" content="this is a Thermal Science and Flow Control Lab.">
    <meta name="keywords" content="Thermal, Thermal Science, Flow, Flow Control, Water Drop">
    <title>Thermal Science and Flow Control Lab　精微熱流控制實驗室</title>
    <!-- 在html文件中使用link標籤添加為這個文件量身訂做的的CSS樣式表 -->
    <link rel="stylesheet" type="text/css" href="homepage.css.erb" />
    </head>
    <body>
        <!--固定導覽列-->
        <nav id="navbar" class="fixed-nav-bar">
             <ul> 
              <li><a href="file:///C:/Users/Ming-Yi%20Wang/Documents/GitHub/bernoulli/app/views/homepage/_form.html.erb?search=#">Home</a></li>
              <li><a href="http://www.polytechnique.edu/fr/paris-saclay">News</a></li>
              <li>
                <a href="http://bernoulli.iam.ntu.edu.tw/lab.htm">Lab Members</a>
                <ul>
                    <li><a href="#">Professors</a></li>
                    <li><a href="#">Postdoctorals</a></li>
                    <li><a href="#">Doctors</a></li>
                    <li><a href="#">Masters</a></li>
                    <li><a href="#">Undergraduates</a></li>
                    <li><a href="#">Alumini</a></li>
                </ul>
              </li>
              <li><a href="http://bernoulli.iam.ntu.edu.tw/services.htm">Tech Services</a></li>
              <li><a href="http://bernoulli.iam.ntu.edu.tw/courses.htm">Courses</a></li>
              <li><a href="#">Contact Us</a></li>
              <li>
                <form method="get" action="/search" id="search">
                  <input name="q" type="text" size="40" placeholder="Search..." />
                </form>
              </li>
            </ul>
        </nav>
  
        <div id="header">
        　　 <img src="液滴icon.png" id="lab_logo">
             <p id="lab_name">Thermal Science and Flow Control Lab</p>
        </div>

        
        
       <iframe class="video" id="food_video" src="https://player.vimeo.com/video/95342512?byline=0&amp;portrait=0&amp;badge=0&amp;color=fffff0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <ul id="search_interests">
            <li><img id="drop_icon" src="液滴icon.png"><a href="#"></a></li>
            <li><img id="coating_icon" src="塗佈icon.png"><a href="#"></a></li>
            <li><img id="microflow_icon" src="微流icon.png"><a href="#"></a></li>
            <li><img id="heat_icon" src="熱icon.jpg"><a href="#"></a></li>
        </ul> 

        <footer id="homepage_footer">
            <p>
                <br>
                Copyright &copy; 2014 Thermal Science and Flow Control Lab, Institute of Applied Mechanics, National Taiwan University. All rights reserved.<br>
                Email:mingyiwang@ntu.edu.tw   TEL: +886-2-3366-5067   Fax:+886-2-3366-5649
            </p>
        </footer>


    </body>
</html>
